@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

h2 {
  font-size: 36px;
}

.modalWrap {
  @media (min-width: 650px) {
    width: 100%;
  }
  overflow: auto;
}

.modalLeft {
  @media (min-width: 650px) {
    float: left;
    width: 50%;
    padding: 20px;
  }
}

.modalRight {
  @media (min-width: 650px) {
    float: right;
    width: 50%;
    padding: 8px;
  }
}