footer {
  clear: both;
  position: relative;
  padding: 45px 0;
  background: rgb(0,0,0);
  float: left;
  width: 100%;

  .footer-box {
    text-align: center;

    &.one::after {
      content: '';
      background-color: rgba(255, 255, 255, .7);
      width: 100px;
      height: 1px;
      display: block;
      margin: 10px auto 20px;
    }

    &.one h3 {
      margin-bottom: 20px;
    }

    .footer-heading {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #ccc;
        margin-bottom: 10px
      }

      .footer-links {
        padding: 0;
        margin: 0 0 30px 0;

        li {
          padding: 0;
          margin: 0 16px 10px;
          list-style: none;
          display: inline-block;

          a {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            color: #57cecd;
            border-bottom: 1px solid #ccc;
            font-family: 'Lora', serif;
            letter-spacing: 1px;
            color: #fff;
          }
        }
      }
  }

}