.groblje-list {
  margin: 38px 0;
  min-height: calc(100vh - 858px);

  a {
    color: #f86942;
    font-size: 20px;
    font-family: 'Lora', serif;
  }

  li {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
    list-style-type: none;
    text-align: center;

    label {
      font-weight: normal;
      display: inline-block;
      padding-right: 20px;
    }
  }
}