.heading {
  padding: 75px 0 45px;
}


.btn-more {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  border: none;
  background-color: #f86942;
  margin-top: 20px;
}

.vise {
  margin-bottom: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animate-box {
  padding: 0 25px;
  display: flex;
}

.card {
  padding: 10px;
    display: block;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    margin-bottom: 30px;
    border-bottom: none;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      border-bottom: none;
      bottom: 10px;

      .card-body h3 {
        color:#f86942;
      }
    }

    .att-image {
      position: relative;
      overflow: hidden;
      padding-bottom: 56.25%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 100%;
        }
    }

    .card-body {
      padding: 20px;

      h3 {
        font-size: 25px;
        color:#f86942;
        margin-bottom: 10px;
      }

      p {
        color: rgb(0,0,0);
      }
    }
}
