.header-image {
  height: 550px;
  background-image: url('../../static/pets-banner.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: table;
  width: 100%;

}

.ljubimci-header {
  padding: 75px 0;

  h1 {
    text-align: center;
  }

  .btn-more {
    margin: 30px auto 0;
    display: block;

    i {
      padding-left: 10px;
    }
  }
}

.intro {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-align: center;

  h1 {
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 100;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .flex-col.korisnikov {
    display: flex;
    width: 33%;
  }
}


form {
    textarea {
      min-height: 200px;
    }
    button {
      width: 100%;
    }

    .image-upload {

      input {
        width: 75%;
        display: inline-block;
      }

      button {
        margin-left: 10px;
        width: 20%;
        display: inline-block;
      }
    }

    .checkbox-row {
      text-align: center;

      .checkbox-col {
        display: inline-block;
        padding-right: 20px;
      }
    }

    #upload {
      width: 100%;
    }

  .required-field {
    border-color: #FF7F7F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 8px rgba(255, 127, 127, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 127, 127, .6);
  }
}


@media screen and (max-width: 768px) {

  .intro {
    h1 {
      font-size: 44px;
    }
  }

  .ljubimci-header {
    padding: 50px 0;

    h1 {
      font-size: 26px;
    }

  }

  .korisnikov-ljubimac .labels .value {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {


  .flex-row {

    .flex-col {
      width: 100%;

      &.korisnikov {
      width: 100%;
      }
    }
  }
}
