.table-wrapper {
  min-height: calc(100vh - 292px);
  margin-top: 60px;

  h1 {
    padding: 50px 0;
  }

  th {
    text-transform: uppercase;
    text-align: center;
  }

  tbody {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {

  table {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 26px;
  }

  table {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {

  table {
    font-size: 12px;
  }
}
