.flex-col {
  display: flex;
}


#museum {

      .element-muzeja {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        background: #ffffff;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
        -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
        -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
        box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
        margin: 0 0 30px;
        border-bottom: none;
        bottom: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          bottom: 10px;

          h4 {
            color: #f86942;
          }
        }
      }
}

#museum {
  padding: 75px 0;

  h2 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: center;
    color: #777777;
    cursor: pointer;

    &.active {
      color: rgb(0,0,0);

      &::after {
        content: '';
        height: 1px;
        width: 140px;
        background: rgb(0,0,0);
        display: block;
        margin: 10px auto 20px;
      }
    }
  }

    .krajobrazi {
      display: none;

      &.active {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .lista {
          width: 100%;
        }
      }
    }

  .licnosti {
    display: none;

    &.active {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .lista {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 768px) {

  #museum {

    h2 {
      font-size: 30px;
    }
  }
}













